<a class="flex items-center space-x-2 py-1font-semibold  border-r-4 {% if active %}border-r-red-600{% endif %} hover:border-r-red-600 pr-20 " href="#">
    {% autoescape false %}
        {{ icon }}
    {% endautoescape %}
    <span>{{ title }}</span>
</a>
